/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  main{
    max-width: 300px;
    margin: 0 auto;
  }
  .banner{
    height: 155px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .b-content h3{
    font-size: 19px;
  }
  .b-content h2{
    font-size: 20px;
    line-height: 35px;
  }
  .discount-offer{
    margin-bottom: 60px;
  }
  .discount h2{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .discount h5{
    font-size: 18px;
    margin-bottom: 12px;
  }
  .discount h3{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .discount img{
    width: 100%;
  }
  .midnight{
    height: 190px;
    padding: 30px;
    margin-bottom: 60px;
  }
  .midnight-content h2{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .midnight-content p{
    line-height: 18px;
    margin-bottom: 13px;
    width: 250px;
  }
  .last-event{
    margin-bottom: 20px;
  }
  .event-content h3{
    font-size: 15px;
    line-height: 40px;
  }
  .event-content span{
    font-size: 15px;
    line-height: 40px;
  }
  .event{
    padding: 20px;
  }
  .event-button a{
    padding: 8px 15px;
    font-size: 14px;
  }
  .offer-container{
    flex-direction: column;
    text-align: center;

  }
  .offer-column p{
    margin-bottom: 10px;
    margin-top: 0;
    width: 300px;
  }
  .offer-column h4{
    font-size: 16px;
    margin-bottom: 15px;

  }
  .offer-column h3{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .offer-column h2{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .second-img{
    width: 250px;
  }
  .holiday-content h2{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .holiday-content h3{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .holiday-content p{
    font-size: 16px;
  }
  .discount-img img{
    width: 100%;
  }
  .card img{
    width: 100%;
  }
  .gift-content h3{
    font-size: 16px;
  }
  .gift-content h2{
    font-size: 25px;
  }
  .gift-content p{
    font-size: 16px;
    line-height: 25px;
  }
  .newsletter{
    padding: 10px;
  }
  .newsletter-content h2{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .newsletter-content p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  #email{
    width: 45%;
    padding: 20px;
    font-size: 16px;
  }
  #subscribe{
    width: 43%;
    padding: 19px;
    font-size: 17px;
  }
  footer{
    text-align: center;
    padding: 20px;
  }
  .top-column{
    flex-direction: column;
    justify-content: center;
  }
  .icon-part{
    flex-direction: column;
    margin-top: 10px;
  }
  .bottom-column{
    margin-top: 20px;
  }
  .social-icons{
    margin-top: 20px;
  }
  .icon img{
    width: 100%;
  }
  .left-side h3{
    font-size: 16px;
    line-height: 25px;
  }
  .icon-part{
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 10px;
  }
  .icon-part h4{
    font-size: 16px;
    line-height: 25px;
  }
  .right-side h3{
    font-size: 16px;
    line-height: 25px;
  }
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
main{
  max-width: 535px;
  margin: 0 auto;
}
.banner{
  height: 260px;
  margin-top: 30px;
  margin-bottom: 90px;
}
.b-content h3{
  font-size: 25px;
}
.b-content h2{
  font-size: 30px;
  line-height: 56px;
}

.discount h2{
  font-size: 50px;
  margin-bottom: 35px;
}
.discount h3{
  font-size: 30px;
  margin-bottom: 35px;

}
.discount img{
  width: 100%;
}
  .midnight{
    height: 266px;
    padding: 70px;
  }
  .midnight-content h2{
    font-size: 25px;
    line-height: 46px;
    margin-bottom: 17px;
  }
  .midnight-content p{
    line-height: 20px;
    width: 200px;
    margin-bottom: 30px;
  }
  .event{
    padding: 30px;
    
  }
  .last-event{
    margin-bottom: 35px;
  }
  .event-button a{
    padding: 10px 25px;
    font-size: 18px;
  }
  .event-content h3{
    font-size: 24px;
    line-height: 50px;
  }
  .event-content span{
    font-size: 24px;
    line-height: 50px;
  }
  .offer-container{
    flex-direction: column;
    text-align: center;

  }
  .offer-column p{
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .offer-column h4{
    font-size: 20px;
    margin-bottom: 15px;

  }
  .offer-column h3{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .offer-column h2{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .holiday-content p{
    font-size: 18px;
  }
  .holiday-content h3{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .holiday-content h2{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .discount-img img{
    width: 100%;
  }
  .card img{
    width: 100%;
  }
  .gift-content h3{
    font-size: 18px;
  }
  .gift-content h2{
    font-size: 35px;
  }
  .gift-content p{
    font-size: 18px;
    line-height: 28px;
  }
  .newsletter{
    padding: 65px;
  }
  .newsletter-content h2{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 22px;
  }
  .newsletter-content p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 35px;
  }
  #email{
    width: 50%;
    padding: 20px;
    font-size: 16px;
  }
  #subscribe{
    width: 30%;
    padding: 20px;
    font-size: 16px;
  }
  footer{
    text-align: center;
    padding: 30px;
  }
  .top-column{
    flex-direction: column;
    justify-content: center;
  }
  .icon-part{
    flex-direction: column;
    margin-top: 20px;
  }
  .bottom-column{
    margin-top: 40px;
  }
  .social-icons{
    margin-top: 40px;
  }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

main{
  max-width: 700px;
  margin: 0 auto;
}
.banner{
  height: 350px;
  margin-top: 30px;
  margin-bottom: 110px;
}
.b-content h3{
  font-size: 25px;
}
.b-content h2{
  font-size: 50px;
  line-height: 80px;
}
.discount h2{
  font-size: 70px;
  margin-bottom: 44px;
}
.discount h5{
  margin-bottom: 12px;
}
.discount h3{
  font-size: 40px;
  margin-bottom: 44px; 
}

.discount img{
  width: 100%;
}
  .midnight{
    height: 130px;
  }
  .midnight-content h2{
    font-size: 45px;
    line-height: 70px;
    margin-bottom: 24px;
  }
  .midnight-content p{
    margin-bottom: 35px;
    line-height: 26px;
    width: 400px;
  }
  .event-content span{
    font-size: 28px;
  }
  .event-content h3{
    font-size: 28px;
  }
  .last-event {
    margin-bottom: 45px;
  }
  .event{
    padding: 70px;
  }
  .event-button a{
    padding: 12px 30px;
  }
  .second-img{
    width: 300px;
  }
  .p-width{
    width: 180px;
  }
  .offer-column h4{
    font-size: 20px;
    margin-bottom: 18px;
  }
  .offer-column h2{
    font-size: 25px;
    margin-bottom: 18px;
  }
  .second-img{
    width: 230px;
  }
  .offer-column h3{
    font-size: 35px;
  }
  .offer-column p{
    margin-bottom: 18px;
  }
  .holiday-content h3{
    font-size: 20px;
    margin-bottom: 12px;
  }
  .holiday-content h2{
    font-size: 50px;
    margin-bottom: 24px;
  }
  .discount-img img{
    width: 100%;
  }
  .card img{
    width: 100%;
  }
  .gift-content p{
    font-size: 18px;
  }
  .gift-content h2{
    font-size: 40px;
  }
  .gift-content h3{
    font-size: 20px;
  }
  .newsletter{
    padding: 75px;
  }
  .newsletter-content h2{
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .newsletter-content p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 45px;
  }
  #email{
    width: 45%;
  }
  #subscribe{
    width: 35%;
  }
  footer{
    text-align: center;
    padding: 50px;
  }
  .top-column{
    flex-direction: column;
    justify-content: center;
  }
  .icon-part{
    flex-direction: column;
    margin-top: 30px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  main{
    max-width: 1000px;
    margin: 0 auto;
  }
  .banner{
    height: 510px;
  }
  .midnight{
    height: 345px;
  }
  .second-img{
    width: 300px;
  }
  .p-width{
    width: 280px;
  }
  .offer-column h2{
    font-size: 40px;
  }
  .discount-img img{
    width: 100%;
  }
  .card img{
    width: 100%;
  }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399.98px){
  
}
 /* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}