*{
    margin: 0;
    padding: 0;
}
main{
    max-width: 1320px;
    margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Banner\ Image.png);
    margin-top: 50px;
    border-radius: 16px;
    margin-bottom: 120px;



}
.b-content{
    color: white;
    text-align: center;
}
.b-content h3{
    font-size: 32px;
    font-family: "Merriweather", serif;
    font-weight: 400;
}
.b-content h2{
    font-size: 72px;
    font-family: "Merriweather", serif;
font-weight: 900;
line-height: 95px;
}
.discount-offer{
    margin-bottom: 120px;
}
.discount{
    text-align: center;
    font-family: "Inter", serif;
}
.discount h2{
    font-size: 88px;
    color: red;
font-weight: 700;
margin-bottom: 48px;
}
.discount h5{
    font-size: 24px;
    font-weight: 500;
    color: red;
    margin-bottom: 16px;
}
.discount h3{
    font-size: 48px;
    margin-bottom: 48px;
}

.midnight{
    
   
    
    margin-bottom: 120px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 126px;
    background-size: cover;
    border-radius: 16px;
   
}
.midnight-content{
   
}
.midnight-content h2{
    font-size: 64px;
    color: white;
font-weight: 900;
line-height: 88px;
font-family: "Merriweather", serif;
margin-bottom: 24px;
}
.midnight-content p{
    font-size: 18px;
    line-height: 30px;
    color: white;
    width: 697px;
    font-family: "Inter", serif;
    margin-bottom: 48px;
}
.midnight-content a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Inter", serif;
}